<script>
  function sendValues(name, table_id, project_id, cat_mod_id, cat_mod_type, test_cycle_id, project_enddate, createprojectmode, CreateTestCycleMode, selected_filter_value) {
    // Construct the URL with additional parameters
    // Recall that tableruns.html get actual results and remarks columns from MySQL table 'test_cases_result' as
    // required but tables.html use the actual results and remarks columns from mastersheet itself.

    // The test_cycle_id value is "" when in edit mode for creating new project and int value for running project.
    // The test_cycle_id is sent here as a string so if it has an int value, it should be converted to int type.
    test_cycle_id = parseInt(test_cycle_id);
    if (cat_mod_type == 'c') {
    var url = 'tablerun?table_name=' + encodeURIComponent(name)  + '&table_id=' + encodeURIComponent(table_id)  + '&project_id=' + encodeURIComponent(project_id) + '&category_id=' + encodeURIComponent(cat_mod_id) + '&test_cycle_id=' + encodeURIComponent(test_cycle_id) + '&project_enddate=' + encodeURIComponent(project_enddate) + '&category_module_type=' + encodeURIComponent(cat_mod_type) + '&selected_filter_value=' + encodeURIComponent(selected_filter_value);
    }
    else if (cat_mod_type == 'm') {
    var url = 'tablerun?table_name=' + encodeURIComponent(name)  + '&table_id=' + encodeURIComponent(table_id)  + '&project_id=' + encodeURIComponent(project_id) + '&module_id=' + encodeURIComponent(cat_mod_id) + '&test_cycle_id=' + encodeURIComponent(test_cycle_id) + '&project_enddate=' + encodeURIComponent(project_enddate) + '&category_module_type=' + encodeURIComponent(cat_mod_type) + '&selected_filter_value=' + encodeURIComponent(selected_filter_value);
    }
    else {
    var url = 'tablerun?table_name=' + encodeURIComponent(name)  + '&table_id=' + encodeURIComponent(table_id)  + '&project_id=' + encodeURIComponent(project_id) + '&category_id=' + encodeURIComponent(cat_mod_id) + '&test_cycle_id=' + encodeURIComponent(test_cycle_id) + '&project_enddate=' + encodeURIComponent(project_enddate) + '&category_module_type=' + encodeURIComponent(cat_mod_type) + '&selected_filter_value=' + encodeURIComponent(selected_filter_value);
    }

    // Redirect to the specified route with parameters
    window.location.href = url;
  }

</script>

<style>
  .scrollbar {
    height: 74vh;
    width: 100%;
    overflow: auto;
    padding: 0 10px;
  }
  /*       ScrollBar 1        */

  #dynamic-height-list::-webkit-scrollbar {
    width: 16px;
  }

  #dynamic-height-list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }

  #dynamic-height-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #d55959;
  }

  /* Adjust styles for nav-link */
  .nav-link {
    margin-bottom: 0px; /* Remove margin */
    padding: 0; /* Remove padding */
  }

  .leftMenus {
    margin-left: 10px; /* Remove margin */
    padding: 0;
  }

  /* Style for the lists */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Optional: Add a border between items for styling */
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"] {
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 10px;
  }
</style>


<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="scrollbar"  id="dynamic-height-list" style="max-height: calc(48vh); overflow-y: auto;">
    <ol class="nav flex-column pl-1 leftMenus" style="list-style-type:I; font-size:14px;">
      {% for info in table_info %}
        {% if info.category_ids is none and info.module_ids is none %}
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="sendValues('{{info.table_name}}', {{info.table_id}}, {{info.project_id}}, 'None', 'None', '{{test_cycle_id}}', '{{project_enddate}}', '{{createprojectmode}}', '{{CreateTestCycleMode}}', '{{selected_filter_value}}')">
            <p>{{info.table_name}}</p>
          </a>
        </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#submenu{{loop.index0}}" data-toggle="collapse" data-target="#submenu{{loop.index0}}"><p>{{info.table_name}} ▾</p></a>
          <ol class="list-unstyled flex-column pl-3 collapse show" id="submenu{{loop.index0}}" aria-expanded="false" style="list-style-type:disc; font-size:13px;">
          <!-- The 'category_type' value 'c' means 'category', typically used by 'Sanity Test Calls' -->
            {% if info.category_type == 'c' %}
                <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 1px;" onclick="sendValues('{{info.table_name}}', {{info.table_id}}, {{info.project_id}}, 'None', 'c', '{{test_cycle_id}}', '{{project_enddate}}', '{{createprojectmode}}', '{{CreateTestCycleMode}}', '{{selected_filter_value}}')">
                    <p style="margin-bottom: 10px;">All Test Cases</p></a></li>
              {% for cat_id in info.category_ids %}
                {% if cat_id|string in categories %}
                  <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 1px;" onclick="sendValues('{{info.table_name}}', {{info.table_id}}, {{info.project_id}}, {{cat_id}}, 'c', '{{test_cycle_id}}', '{{project_enddate}}', '{{createprojectmode}}', '{{CreateTestCycleMode}}', '{{selected_filter_value}}')">
                    <p style="margin-bottom: 10px;">{{categories[cat_id|string]}}</p></a></li>
                {% endif %}
              {% endfor %}
            {% endif %}

          <!-- The 'category_type' value 'm' means 'modules' -->
            {% if info.category_type == 'm' %}
              <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 1px;" onclick="sendValues('{{info.table_name}}', {{info.table_id}}, {{info.project_id}}, 'None', 'm', '{{test_cycle_id}}', '{{project_enddate}}', '{{createprojectmode}}', '{{CreateTestCycleMode}}', '{{selected_filter_value}}')">
                <p style="margin-bottom: 10px;">All Test Cases</p></a></li>
              {% for module_id in info.module_ids %}
                {% if module_id|string in modules %}
                  <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 1px;" onclick="sendValues('{{info.table_name}}', {{info.table_id}}, {{info.project_id}}, {{module_id}}, 'm', '{{test_cycle_id}}', '{{project_enddate}}', '{{createprojectmode}}', '{{CreateTestCycleMode}}', '{{selected_filter_value}}')">
                    <p style="margin-bottom: 10px;">{{modules[module_id|string]}}</p></a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ol>
        </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</div>

<!-- Custom Confirmation Box -->
<div id="tableConfirmationBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="confirmationMessage"> Random Message Here </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteTable">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
